// variable declarations
$composerColorBase: rgba(15,25, 43, 0.25);
$composerColorSecond: rgba(178,185,200, 0.85);
$softBlue: rgba(178,175,200,0.65);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');


a{
    color:inherit;
    font-weight: bold;

    &:link{
        text-decoration: none;
    }
    &:visited{
        text-decoration: dotted;
    }
    &:hover{
        text-decoration: none;
    }
    &:active{
        text-decoration: double;
    }
}