// variable declarations
$yellow: #ffff66;
$blueBlack: #080B21;
$softBlue: #BFE6FF;



a{
    color:inherit;
    font-weight: bold;

    &:link{
        text-decoration: none;
    }
    &:visited{
        text-decoration: dotted;
    }
    &:hover{
        text-decoration: none;
    }
    &:active{
        text-decoration: double;
    }
}