#pbg-video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }
    
div.mainContent{
    position: relative;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
}

#introduction{


    

    p{
        background-color: $composerColorSecond;
        color: black;
        text-align: center;
        padding:10px;
        font-size: 20px;
    }

    header{
        margin: 0px;
        padding-bottom:30vh;
        
        h1{
            display:inline-block;
            width:100%;
            background-color: $composerColorBase;
            margin: 0px;
            margin-top: 40vh;
            padding: 2px 0vw;
            color: white;
            font-size: 50px;
            font-weight:bold;
            &#mainTitle{
                text-align: center;
            }
        }

        p{
            font-size:22px;
            width:20%;
            margin-top: 0px;
            text-align: left;
            font-weight:200;
        }
    }

}



div.centerSection{

    margin-left:100px;
    margin-right:100px;

    div.div-part:nth-child(odd){
        background-color: $softBlue;
        border-left-style: solid;
        border-color: #080B21;
        border-bottom-style: solid;
        border-color: #080B21;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    div.div-part:nth-child(even){
        background-color:rgba(255,255,255,0.65);
        border-right-style: solid;
        border-color: #080B21;
        border-bottom-style: solid;
        border-color: #080B21;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    div.imageSection{
        width: 50%;
        height: 75%;
        padding-bottom: 20vw;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1000;
    }
}

#educationSection{
    div.imageSection{
        background-image: url("../img/UDFJ.jpg");
        margin-left: 50%;
    }
}

#portfolioSection{
    div.imageSection{
        background-image: url("../img/PHPsample.gif");
        margin-left: 50%;
    }
}

#proExperienceSection{
    div.imageSection{
        background-image: url("../img/pegasus.gif");
        background-size: cover;
        background-attachment: local;
        
    }
}

#socialAccountsSection{
    .informationData{
        span{
            visibility: hidden;
        }
        display: flex;  
        flex-wrap: wrap;

        div.contentWrapper{
            display: flex;  
            flex-wrap: wrap;
            width:100px;
            img{
                width: 100px;
                height: 100px;
            }
        }
    }
}

body{
    font-family: 'Open Sans Condensed', Arial, Helvetica, sans-serif;
    margin:0px;
}

.innerTitle{
    font-size:30px;
    text-align: center;
    font-weight:bold;
}

.informationData {

    dt{
        font-size:20px;
        font-weight: bolder;
        text-align: center;
        text-transform:uppercase;
        margin-bottom:12px;
        margin-top:36px;
    }

    dd{
        font-size: 18px;
        text-align: center;
        margin:0px;
    }
}

footer{
    font-size:20px;
    text-align:center;
    background-color:$composerColorBase;
    color:white;
    p{
        margin:0px;
    }
}