// variable declarations
$composerColorBase: rgba(12,20, 35, 0.50);
$composerColorSecond: rgba(178,185,200, 0.92);
$softBlue: rgba(178,175,200,0.82);


body {
    font-family: Noto, Helvetica, sans-serif;
    margin: 0px;
}

a{
    color:inherit;
    font-weight: bold;

    &:link{
        text-decoration: none;
    }
    &:visited{
        text-decoration: dotted;
    }
    &:hover{
        text-decoration: none;
    }
    &:active{
        text-decoration: double;
    }
}