#introduction {
  &-decoration {
    background: $composerColorSecond;
    border: 0.5px dotted $composerColorSecond;
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    margin: auto;
    z-index: -1;
    // experimental
    img {
      margin: auto;
      width: inherit;
      height: inherit;
    }
  }

  p {
    background-color: $composerColorSecond;
    text-align: center;
    padding: 10px;
    font-size: 32px;
  }

  header {
    margin: 0px;
    padding-bottom: 5vh;
    h1 {
      display: inline-block;
      width: 80%;
      margin: 0px;
      background-color: $composerColorBase;
      font-size: 40px;
      font-weight: bold;
    }

    p {
      width: 50%;
      font-size: 32px;
      margin-top: 0px;
      text-align: left;
      font-weight: 200;
    }
  }
}

div.centerSection {
  margin-left: 0px;
  margin-right: 0px;
  border: none;
  div.div-part:nth-child(odd) {
    background-color: $softBlue;
    border: none;
    box-shadow: none;
  }

  div.div-part:nth-child(even) {
    background-color: $composerColorSecond;
    border: none;
    box-shadow: none;
  }

  div.div-part {
    p {
      font-size: 32px;
      text-align: justify;
    }
  }

  div.imageSection {
    width: 100%;
    height: 75%;
    padding-bottom: 20vw;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1000;
  }
}

#educationSection {
  div.imageSection {
    background-image: url("../img/UDFJ.jpg");
    margin-left: 0px;
  }
}

#portfolioSection {
  div.imageSection {
    background-image: url("../img/PHPsample.gif");
    margin-left: 0px;
  }
}

#proExperienceSection {
  div.imageSection {
    background-image: url("../img/pegasus.gif");
    background-size: cover;
    background-attachment: local;
  }
}

#socialAccountsSection {
  flex-wrap: nowrap;
}

body {
    font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif;
    margin: 0px;
}

.innerTitle {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}

.informationData {
  dt {
    font-size: 32px;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 12px;
    margin-top: 36px;
  }

  dd {
    font-size: 32px;
    text-align: center;
    margin: 0px;
  }
}

div#socialAccountsSection {
  img,
  span {
    vertical-align: middle;
  }
}

footer {
  font-size: 50px;
  text-align: center;
  background-color: $composerColorBase;
  color: white;
  p {
    margin: 0px;
  }
}
